.chats__body {
  padding: 0;
  background-image: url(../images/chatBG.png);
  min-height: 200vh;
  padding-top: 130px;
}

.chats__body .header-wrapper {
  position: fixed;
  background-color: white;
  padding-top: 5px;
  top: 0;
  width: 100%;
  z-index: 3;
}

.chats__body .header,
.chats__body .status-bar {
  padding: 0px 20px;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.chat__messages .chat__timestamp {
  background-color: #f3f3f3;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 60%;
  margin-bottom: 25px;
}

.message .message__content {
  widows: 80%;
}

.incoming-message {
  align-self: flex-start;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message img {
  width: 35px;
  border-radius: 15px;
  margin-right: 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  animation: spin 1s linear 3;
}

.incoming-message .message__author {
  margin: 7px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.outgoing-message {
  align-self: flex-end;
}

.message .message__bubble {
  background-image: linear-gradient(to right, #edecee, #e7e7e7);
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  font-weight: 600;
  color: white;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0px;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
}

.outgoing-message .message__bubble {
  border-top-right-radius: 0px;
  background-image: linear-gradient(to right, #dd5e89, #f7bb97);
}

.outgoing-message .message__content {
  position: absolute;
  right: 20px;
}

.chat__write-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  padding: 0px 20px;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
  margin: 0 auto;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in, border-radius 0.5s ease-in,
    transform 0.5s ease-in;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-80px);
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__icon-left {
  position: absolute;
  left: 15px;
}

.chat__icon-right {
  position: absolute;
  right: 15px;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

@keyframes incomingAnim {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.incoming-message {
  animation: incomingAnim 0.5s ease-in forwards;
}

@keyframes outgoingAnim {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.outgoing-message {
  animation: outgoingAnim 0.5s ease-out forwards;
}
